<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech&finance guide||<%= post.tittle%></title>
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/post.css">
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <link rel="icon" href="/info.png">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-V9QYPB859W"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-V9QYPB859W');
</script>

</head>
<body>
    <header>
      <a href="/" id="home">Home <i class="fas fa-home fa-2x"></i> </a>
      <h1><%=post.tittle %></h1>
      <img src="/info.png" alt="">
    </header>
    <main>
        <div>
            <h4>Author:<%=post.author %></h4>
            <h5>Date: <%=post.date %></h5>
            <img src="<%= post.contentImageUrl %>" alt="content">
            <h5>The image is from<a href="<%=post.imageSrc %>"><%=post.imageSrc %></a></h5>
            <p><%= post.firstParagraph %></p>
            <p><%=post.secondParagraph %></p>
            <p> <%=post.thirdParagraph%></p>
            <p> <%=post.fourthParagraph%></p>
            <p> <%=post.fiveParagraph%></p>
            <p> <%=post.sixParagraph%></p>  
            <p> <%=post.sevenParagraph%></p> 
            <p> <%=post.eigthParagraph%></p> 
            <p> <%=post.nineParagraph%></p>
        </div>
        <h1>Recommended articles you migth like</h1>  
            <div  id="slider" class="swiperwrapper">
                <% removeCurrentPostFrmRecommended.forEach((posts)=>{%>
                    <div class="slide">
                        <h3><%=posts.tittle %></h3>
                        <img src="<%= posts.contentImageUrl %>" alt="Recommended posts">
                        <p><%= posts.firstParagraph %></p>
                        <a href="/article/<%= posts._id %>/<%= posts.tittle%>">Read article here</a>
                    </div>
                    <%})%>
                     <i  id="prevBtn" class="fas fa-angle-left fa-6x"></i>
                     <i id="nextBtn" class="fas fa-angle-right fa-6x"></i>
            </div>
    </main>
    <footer>
        <h2 class="footer">copyright<i class="fas fa-copyright"></i> 2023 - present| chat corp| developed by sizwe| Email:sizwenkala80@gmail.com</h2>
      </footer>
      <script src="/javascript/post.js"></script>

</body>
</html>